<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://static.vecteezy.com/system/resources/previews/016/916/479/original/placeholder-icon-design-free-vector.jpg" 
        alt="mocked image"
        height="380px"
        
        srcset="">
    </div>
    <a href="#">
        <div class="big-card__title">
            <h1>Nova versão de software</h1>
        </div>
    </a>
    <div class="big-card__description">  
        <p>Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Eligendi, iure voluptatibus 
            error commodi vitae tempore laborum adipisci quidem? Non s
            int magni re
            prehenderit libero voluptatum quos totam 
            facere soluta at debitis?</p>  
    </div>
</div>
