<div class="container__smal-card">
    <div class="small-card__img">
        <img src=
        "https://mockupcloud-themety.imgix.net/uploads/images/2021/11/19/06-dash-branding-mockup.jpg" 
        alt="smallcard image">
    </div>
 
 
    <div class="small-card__title">
        <h1>IA vingadoras do amanhã</h1>
    </div>

    
    <!-- <div class="small-card__description">
        <p>
            Lorem ips
            um, dolor sit amet c
            onsectetur adipisicing elit. Fugit cu   
        </p>
    </div> -->
</div>
<hr/>