<header>
    
    <app-menu-bar></app-menu-bar>

</header>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card
        photoCover="https://static.vecteezy.com/system/resources/previews/016/916/479/original/placeholder-icon-design-free-vector.jpg"
        cardTtle="IA degenerativa vingança"
        cardDescription="Lorem ipsum dolor sit amet consectetur m ipsum dolor sit amet consectetur \\nLorem ipsum dolor sit amet consectetur m ipsum dolor sit amet consectetur \\n"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://mockupcloud-themety.imgix.net/uploads/images/2021/11/19/06-dash-branding-mockup.jpg"
        cardTitle="IA vingadoras do amanhã"
        >
        </app-small-card>
        <app-small-card
        photoCover="https://mockupcloud-themety.imgix.net/uploads/images/2021/11/19/06-dash-branding-mockup.jpg"
        cardTitle="IA vingadoras do amanhã"
        >
        </app-small-card>
        <app-small-card
        photoCover="https://mockupcloud-themety.imgix.net/uploads/images/2021/11/19/06-dash-branding-mockup.jpg"
        cardTitle="IA vingadoras do amanhã"
        >
        </app-small-card>
    </div>
</div>

